<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>

<div id="app">
    <div class="d-flex flex-row justify-content-between">
        <div class="w-25 d-flex flex-column">
            {{test}}
            <div class="mb-2">
                <input v-model="story.them" placeholder="Nama dia">
                <input v-model="story.me" placeholder="Nama aku">
                <input v-model="story.by" placeholder="Oleh">
                <button @click="onCreate(story)">Submit</button>
            </div>            

            <div class="mb-2">
                <input v-model="story.chat[0]" placeholder="edit me">
                <button @click="onChat(story.chat[0], 'narrator')">Chat Dari narator</button>
            </div>
            <div class="mb-2">
                <input v-model="story.chat[1]" placeholder="edit me">
                <button @click="onChat(story.chat[1], 'me')">Chat Dari Aku</button>
            </div>
            <div class="mb-2">
                <input v-model="story.chat[2]" placeholder="edit me">
                <button @click="onChat(story.chat[2], 'them')">Chat Dari Dia</button>
            </div>
            <div class="d-flex flex-column">
                <p>Option</p>
                <input v-model="story.option[0]" placeholder="edit me">
                <input v-model="story.option[1]" placeholder="edit me">
                <input v-model="story.option[2]" placeholder="edit me">
                <input v-model="story.option[3]" placeholder="edit me">
                <button @click="onOption(story.option)">Opsi</button>

                <button @click="onStart()">Start</button>
            </div>
        </div>
        <div class="w-25">
            <p>Player</p>
            <div v-for="item in render">
                <div class="mb-2" v-if="item.type === 'narration'">
                    <p class="mb-0">
                        {{item.msg}}
                    </p>
                </div>
                <div class="mb-2" v-if="item.type === 'chat'">
                    <p class="mb-0">
                        Dari: {{item.sender}}
                    </p>
                    <p class="mb-0">
                        Pesan: {{item.msg}}
                    </p>
                </div>
                <div class="mb-2 d-flex flex-column" v-if="item.type === 'option'">
                    <button v-for="option in item.li">{{option.msg}}</button>
                </div>
            </div>
        </div>
        <!-- <div class="w-25">
            <p>Preview</p>
            <div v-for="item in result.content">
                <p v-if="item.parent !== null">Kalau jawab {{item.id}}</p>
                <div class="mb-2" v-for="chat in item.chat">
                    <p class="mb-0">
                        Dari: {{chat.sender}}
                    </p>
                    <p class="mb-0">
                        Pesan: {{chat.msg}}
                    </p>
                </div>
                <div class="mb-2 d-flex flex-row" v-if="item.option.li.length !== 0">
                    <button v-for="option in item.option.li" @click="nextContent(option.next, option.parent)">{{option.msg}}</button>
                </div>
            </div>
        </div> -->
        <div class="w-25">
            <preview :item="result.content[0]" v-if="result.content.length !== 0"></preview>
        </div>
        <div class="w-25">
            <p>Output</p>
            <textarea style="height: 100vh;width:100%;">{{JSON.stringify(result, null, 4)}}</textarea>
        </div>
    </div>
</div>

<script type="text/x-template" id="preview">            
    <div>            
        <p v-if="item.parent">Kalau jawab {{item.id}}</p>
        <div class="mb-2" v-for="chat in item.chat">
            <p class="mb-0">
                Dari: {{chat.sender}}
            </p>
            <p class="mb-0">
                Pesan: {{chat.msg}}
            </p>
        </div>
        <div class="mb-2 d-flex flex-row" v-if="item.option.li.length !== 0">
            <button v-for="option in item.option.li" @click="nextContent(option.next, option.parent)">{{option.msg}}</button>
        </div>

        <preview :item="child(item.option.now)" v-if="childEval(item.option.now) !== -1"></preview>
    </div>              
</script>

<script>    
    let chat = {
        type: 'chat',
        parent: 0,
        id: 0,
        msg: '',
        sender: '',
    }

    let option = {
        parent: 0,
        id: 0,
        msg: '',
        next: 0
    }

    let content = {
        id: 0,
        parent: null,
        chat: [],
        option: {
            type: 'option',
            now: null,
            li: []
        }
    }

    let story = {
        meta: {
            name: '',
            them: "Dia",
            me: "Aku",
            by: "Aku"
        },
        content: []
    }

    Vue.component('preview', {
        props: ['item'],
        template: '#preview'
    })

    let app = new Vue({
        el: '#app',
        data: {
            test: 'hi',
            result: {
                content: []
            },
            render: [],
            story: {
                name: '',
                them: '',
                me: '',
                by: '',
                chat: [],
                content: '',
                id: 0,
                option: [],
                optionCount: 1,
                preview: 0
            },
            batch: []
        },
        methods: {
            onCreate(x) {
                let temp = _.cloneDeep(story)
                let tempContent = _.cloneDeep(content)
                temp.meta.me = x.me
                temp.meta.them = x.them
                temp.meta.by = x.by
                temp.content.push(tempContent)
                this.result = temp
                this.batch.push(0)
            },
            onChat(x, y) {
                let tempChat = _.cloneDeep(chat)
                let parentIndex = this.result.content.findIndex(x => x.id === this.story.id)
                tempChat.msg = x
                tempChat.sender = y
                tempChat.type = 'chat'
                tempChat.parent = this.story.id
                tempChat.id = this.result.content[parentIndex].chat.length
                this.result.content[parentIndex].chat.push(tempChat)
            },
            onOption(x) {
                let temp = []
                let batch = []
                let parentIndex = this.result.content.findIndex(x => x.id === this.story.id)
                x.forEach((z, i) => {
                    if (z !== '') {
                        let y = _.cloneDeep(option)
                        y.parent = this.story.id
                        y.id = i
                        y.msg = z
                        y.next = this.story.optionCount
                        batch.push(this.story.optionCount)
                        this.story.optionCount += 1
                        temp.push(y)
                    }
                })
                this.result.content[parentIndex].option.li = temp
                this.result.content[parentIndex].option.now = temp[0].next
                // this.batch.push(batch)
            },
            onStart() {
                start()
            }
        }
    })

    function child(now) {
        return app.result.content[app.result.content.findIndex(x => x.id === now)]
    }

    function childEval(now) {
        return app.result.content.findIndex(x => x.id === now)
    }

    function nextContent(x, y) {
        app.story.id = x
        // let batch = this.batch.findIndex(x => x.some(s === this.storyid))
        // this.batch()                
        if (!app.result.content.some(x => x.id === app.story.id)) {
            let tempContent = _.cloneDeep(content)
            tempContent.id = x
            tempContent.parent = y
            app.result.content.push(tempContent)
        }

        let parentIndex = app.result.content.findIndex(x => x.id === y)
        app.result.content[parentIndex].option.now = x
    }

    function start() {
        let i = 0

        function addChat() {
            console.log(i)
            setTimeout(x => {
                app.render.push(app.result.content[app.story.preview].chat[i])
                i++
                if (i !== app.result.content[app.story.preview].chat.length) {
                    addChat()
                }
                else {
                    addOption()
                }
            }, 1000)
        }

        function addOption() {
            setTimeout(x => {
                app.render.push(app.result.content[app.story.preview].option)
            }, 100)
        }

        addChat()
    }

</script>